#intro-section {
  border: 1px solid #2a3140;
  border-radius: 8px;
  padding: 10px;
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  gap: 20px;
}

#input-section {
  flex: 2;
  border: 1px solid #2a3140;
  border-radius: 8px;
  padding: 10px;
  overflow-y: auto;
  background-color: #181c25;
}

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.right-panel section {
  background-color: #181c25;
  border: 1px solid #2a3140;
  border-radius: 8px;
  padding: 10px;
  flex-grow: 1;
}
#lzw-dict-section {
  height: 50%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.table-wrapper {
  min-height: 0;
  overflow-y: auto;
  border: 1px solid #2a3140;
}
th {
  position: sticky;
  top: 0;
}
.canvas-wrapper {
  position: relative;
  display: inline-block;
  border: 1px solid #2a3140;
  overflow: hidden;
}
#image-canvas {
  display: block;
  image-rendering: pixelated;
}
#pixel-highlighter {
  position: absolute;
  width: 1px;
  height: 1px;
}
